<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <nav class="navbar navbar-default navbar-fixed-top navbar transparent">
      <a class="navbar-brand" href="/pins">PinClone</a>

<form class="navbar-form navbar-right" role="search" action="/searchresults">
        <div class="form-group">
          <a href="/pins/new" class="btn btn-default">New Pin</a>
      </form> 
</nav>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body class = "container" style="padding-top: 60px">
  
</body>
</html>